@charset "UTF-8";

// $background: #212121;
$background: #000000;
$main: #990000;
$main-sub: #90A4AE;

$nav-hover: #ff0000;

$main-pc: #90A4AE;
$nav-hover-pc: #990000;
$nav-accent: #ff33ff;

$font-en: 'Alex Brush',
cursive;
$font-ja: 'Sawarabi Mincho';

/* ================================================== *
 *    base style
 * ================================================== */

@mixin bg-color {
    background: $background;
    color: #043c78;
}

/* ------------------------------------------------- *
 *        nav-link
 * ------------------------------------------------- */

@mixin nav {
    color: $main;
        @media (min-width: 768px) {
            color: $main-pc;
        }
}

@mixin navfont-en {
    font-family: $font-en;
    letter-spacing: 0.4rem;
    font-size: 4rem;
    @media (min-width: 768px) {
        letter-spacing: 0.2rem;
        font-size: 3rem;
    }
}

@mixin navfont-ja {
    font-family: $font-ja;
    font-size: 1.2rem;
    @media (min-width: 768px) {
        font-size: 1.2rem;
    }
}

/* ------------------------------------------------- *
 *        toggle-link
 * ------------------------------------------------- */

@mixin toggle-color {
    background: $background;
    border-color: $main;
    &:hover,
    &:focus,
    &:active {
        background: $background;
        border-color: $nav-hover;
    }
}

@mixin toggle-border {
    border-color: $main;
}

@mixin toggle-icon {
    color: $main;
}


/* ------------------------------------------------- *
 *        main-table
 * ------------------------------------------------- */

@mixin top-table-border {
    border: 1px solid $main;
}

@mixin contents-title {
    color: $main;
    font-family: $font-en;
    letter-spacing: 0.6rem;
}
 // @mixin contents-title-pc {
//     color: $main;
//     font-family: $font-en;
// }

/* ------------------------------------------------- *
 *        pagetop-btn
 * ------------------------------------------------- */

@mixin pagetop-btn {
    background: $background;
    color: $main;
    border: 0.1rem solid $main;
}

/* ------------------------------------------------- *
 *       works
 * ------------------------------------------------- */
@mixin works-subtitle {
    color: $main-sub;
    border: 0.1rem solid #ff0000;
    font-family: $font-en;
    font-size : 2rem;
        @media (min-width: 768px) {
        font-size: 3rem;
    }
}
/* ------------------------------------------------- *
 *       profile
 * ------------------------------------------------- */
@mixin prof-table {
    border: 1px solid $main;
}
/* ------------------------------------------------- *
 *       contact
 * ------------------------------------------------- */
@mixin mail-form-text {
    color: $main-sub;
    font-family: $font-ja;
}

/* ------------------------------------------------- *
 *        footer
 * ------------------------------------------------- */

@mixin footer-link {
    color: $main;
    &:hover,
    &:focus,
    &:active {
        color: $nav-hover;
        text-decoration: none;
    }
}

@mixin footer-link-pc {
    color: $main;
    &:hover,
    &:focus,
    &:active {
        color: $nav-hover;
        text-decoration: none;
    }
}

